{% extends 'emails/layout' %}

{% block header %} You have a new reverse share request
{% endblock %}

{% block content %}
<h2>Hi {{ recipient_name }},</h2>

<p>{{ sender_name }} is requesting files from you.</p>
{% if isExistingUser %}
<p>Click the button below to log in to your account and upload files for {{ sender_name }}.</p>
{% else %}
<p>Click the button below to accept the request and upload files for {{ sender_name }}.</p>
{% endif %}

{% if invite.message %}
  <hr>
  <p>Message: {{ invite.message }}</p>
  <hr>
{% endif %}

{% endblock %}

{% block action_url %}{% if isExistingUser %}{{ settings.application_url }}/?invite_id={{ invite.id }}{% else %}{{ settings.application_url }}/?invite_code={{ invite_code }}{% endif %}{% endblock %}

{% block action_text %}{% if isExistingUser %}Log In & Upload{% else %}Accept Request{% endif %}{% endblock %}

